.navbartwo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: Montserrat;
  align-items: center;
  background-color: #25253e;
}
.logo-name {
  display: flex;
  margin-left: 200px;
}
.logo-name .name {
  color: #a8b7ed;
}
.logo-name .hostels {
  color: white;
}
.Already {
  display: flex;
  width: 400px;
  height: 42px;

  justify-content: space-between;
  margin-right: 160px;
}
.Already p {
  font-size: 14px;
  color: white;
  font-weight: bold;
  margin-left: 50px;
}
.navlinks ul {
  width: 400px;
  display: flex;
  justify-content: space-between;
}
.navlinks ul li {
  list-style: none;
}
.navlinks ul li a {
  text-decoration: none;
}
.Acom button {
  width: 126px;
  height: 42px;
  border: none;
  border-radius: 28px;
  background-color: #335ffe;
  color: white;
  cursor: pointer;
}
.Already button {
  margin-right: 70px;
}
@media screen and (max-width: 1024px) {
  .navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: Montserrat;
    align-items: center;
    font-family: Montserrat;
    width: 800px;
  }
  .navbartwo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: Montserrat;
    align-items: center;

    width: 1000px;
  }
  .logo-name {
    display: flex;
    font-size: 9px;
  }
  .logo-name img {
    height: 50px;
    width: 80px;
  }
  .logo-name .name {
    color: #a8b7ed;
    font-size: 15px;
  }
  .logo-name .hostels {
    color: white;
    font-size: 15px;
  }
  .Already {
    display: flex;
    width: 280px;
    height: 42px;
    justify-content: space-between;
  }
  .Already p {
    font-size: 14px;
    color: white;
    font-weight: bold;
  }

  .navlinks ul {
    width: 200px;
    display: flex;
    justify-content: space-between;
    font-size: 10px;
  }
  .navlinks ul li {
    list-style: none;
  }
  .navlinks ul li a {
    text-decoration: none;
    font-size: 15px;
  }
  .Acom button {
    width: 120px;
    height: 42px;
    border: none;
    border-radius: 28px;
    background-color: #335ffe;
    color: white;
    cursor: pointer;
    font-size: 15px;
    font-family: Montserrat;
  }
}
.navbar {
  background-color: #1f1f2d;
  font-family: Montserrat;
  justify-content: space-between;
  padding-top: 50px;
}

.iy {
  font-family: Montserrat;
}
