.navbartwo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: Montserrat;
  align-items: center;
  background-color: #25253e;
}
.logo-name {
  display: flex;
}
.logo-name .name {
  color: #a8b7ed;
}
.logo-name .hostels {
  color: white;
}
.Already {
  display: flex;
  width: 280px;
  height: 42px;
  justify-content: space-between;
}
.Already p {
  font-size: 14px;
  color: white;
  font-weight: bold;
}
.navlinks ul {
  width: 400px;
  display: flex;
  justify-content: space-between;
}
.navlinks ul li {
  list-style: none;
}
.navlinks ul li a {
  text-decoration: none;
}
