.plm {
  background-color: aquamarine;
  width: 120%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}
.column3 {
  background-color: red;
  width: 400px;
  height: 600px;
  display: flex;
  justify-content: space-between;
  flex-flow: column;
}
.column3 label {
  color: aqua;
}
.column4 label {
  color: aqua;
}
.column4 {
  background-color: rgb(80, 10, 10);
  width: 500px;
  height: 600px;
}
.cl3 {
  width: 500px;
  height: 80px;
}
.cm3 {
  width: 505px;
  height: 80px;
}
